.card__like {
  all: unset;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/Like.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 30px;
}

.card__like:hover {
  opacity: 0.6;
  transition: opacity 1s linear;
}

.card__like:focus {
  background-image: url(../../../images/active-like.svg);
}
