.popup-add__form {
  all: unset;
  margin: 0 auto;
  width: 358px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 500px) {
  .popup-add__form {
    width: 238px;
  }
}
